body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.menu {
    display: flex;
    gap: 20px;
}

.banner {
    width: 100%;
    height: 500px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 30px;
}

.project {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
}

.project h1 {
    font-size: 24px;
    margin: 10px 0;
}

.project h2 {
    font-size: 18px;
    margin: 10px 0;
}

.project p {
    margin: 10px 0;
}

.header {
    background-color: #ddd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.menu {
    display: flex;
    gap: 20px;
    background-color: #ddd;
}

.button h2 {
    margin: 0;
    background-color: #ddd;
}

.button a {
    text-decoration: none;
    color: black;
    background-color: #ddd;
}

.banner {
    padding-top: 90px;
    width: 100%;
    height: 25%;
    display: block;
}

.banner2 {
    width: 100%;
    height: 400px;
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text {
    width: 45%;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.text h1 {
    font-size: 36px;
    margin: 20px 0;
}

.text h2 {
    font-size: 20px;
    margin: 20px 0;
}

.image {
    width: 50%;
    height: 100px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.animate-fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.about-me {
    padding: 20px;
    background-color: #efefef;
    border-radius: 10px;
    margin: 20px;
}

.about-me h1 {
    font-size: 24px;
    margin: 10px 0;
}

.about-me p {
    margin: 10px 0;
    font-size: 20px;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.tags ul {
    justify-content: left;
    list-style: none;
    float: left;
}

.tags li {
    justify-content: left;
    padding-right: 10px;
    float: left;
}

.tags p {
    background-color: darkgrey;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}

.project {
    width: 90%;
    max-height: 500px; /* Set a maximum height for the project container */
    overflow: auto; /* Add scrollbars if the content exceeds the container height */
    margin: 10px;
    border-radius: 10px;
    background-color: #efefef;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.project.active {
    transform: translateX(0);
}

.imageflex { display: flex; }
.imageflex img { width: 200px; height: 200px; }
.imageflexcontent { margin-left: 5px; margin-top: 0; }

.projects {
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer h1 {
    font-size: 18px;
}

.footer p {
    font-size: 14px;
    margin: 5px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 14px;
    margin: 5px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
}